*{
	margin 0;
	padding 0;
	box-sizing:border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

a:hover
{
	text-decoration: none;
}

p
{
	font-size: 0.9rem;
	line-height: 1.6;
	font-height:400;
}

i{
	coloor:2fccd0;
}
.extra-div h2, .servicediv h2{
	font-size:0.9rem;
	margin:20px 0 15px 0;
	font-weight:bold;
	line-height:1.1;
	word-spacing:4px;
}
.header{
	width:100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0,168,255,0.3), rgba(0,168,255,0.3)),url('../image/3.jpg');
	background-repeat: no-repeat;
	background-size: 100% 80%;
	clip-path: polygon(100% 0%, 100% 75%, 50% 100%,0 75%,0 0);
	/*z-index: -1;*/
	position: relative;
}

.header-section
{
	width:100%;
	height: inherit;
	color:white;
	text-align: center;
	position: relative;

}
.center-div{

	width:100%;
	height:auto;
	position: absolute;;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}

.header-buttons a{
	border: 1px solid #fff;
	border-radius: 100px;
	margin:0 5px;
	padding: 12px 35px;
	outline: none;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;

}

.header-buttons a:hover
{
	color:#50d1c0;
	background:#fff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.center-div p
{
	font-size:1.3rem;
	padding:10px,0 20px 0;
}

.header-extradiv
{
	width:100%;
	height: auto;
	margin:100px 0;
	text-align:center;
}

.extra-div
{
	background:#fff;
	border:medium none;
	padding:50px!important;
	border-radius:3px;
	transition: 0.3s;
}

.extra-div:hover
{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
	transform: translateY(-20px);
}
.serviceoffers
{
	background: linear-gradient(to bottom, #ccffff 0%, #ffffff 100%);
	padding: 50px 0;
	margin-bottom: 50px;
}

.heading{

margin-bottom: 50px;
}

.heading h1
{
	font-size:1.5rem;
	font-weight: 600;
}

.names h1
{
	color: #2e2e2e;
	font-size:0.9rem;
	text-transform: capitalize;
}
.service-icons
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress{
	height: 0.6rem!important;
	margin-bottom: 25px!important;
	background:white;
}

.contactus
{
	background: linear-gradient(to bottom, #ccffff 0%, #ffffff 100%);
	padding: 50px 0;
	margin-bottom: 50px;
}

.contactus:before
{
	content:"";
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: linear-gradient(to bottom, #99ffcc 0%, #ccffcc 100%)!important;
	z-index:-1;
}